:root {
	--white-default-color: #FFFFFF;
	--black-default-color: #000000;
	--header-color: #EEEEEE;
	--nav-text-hover-color: #A7A7A7;
	--red-default-color: #FB565A;
	--red-hover-color: #E74246;
	--red-active-color: #D7373B;
	--red-shadow-active-color: #C23235;
	--red-button-text-active: #E37375;
	--green-default-color: #00CA74;
	--green-hover-color: #00BC6C;
	--green-active-color: #00AA62;
	--green-shadow-active-color: #009958;
	--green-button-text-active: #4CC391;
	--yellow-default-color: #EFC84A;
	--yellow-hover-color: #EAB534;
	--yellow-active-color: #E5A722;
	--yellow-shadow-active-color: #CF971F;
	--yellow-button-text-active: #EDC164;
	--gray-default-color: #EEEEEE;
	--gray-hover-color: #DFDFDF;
	--gray-active-color: #D5D5D5;
	--gray-text-active-color: #A7A7A7;
	--gray-shadow-active-color: #C0C0C0;
	--gray-text-default-color: #B2B2B2;
	--gray-text-hover-color: #666666;
	--logo-active-color: #A6A6A6;
	--social-icon-default: #E1E1E1;
	--default-text-color: #283136;
	--catalog-input-default-color: #B8B8B8;
	--catalog-form-hover-color: #4D4D4D;
	--catalog-form-text-blocked-color: #BFC2C3;
	--catalog-input-blocked-color: #EEEEEE;
	--sort-text-default-color: #B3B3B3;
	--sort-text-hover-color: #666666;
	--sort-arrow-default-color: #EDEDED;
	--sort-arrow-hover-color: #A6A6A6;
	--sort-arrow-active-color: #231F20;
	--mask-top-default-color: #E9E9E9;
	--mask-top-hover-color: #4D4D4D;
	--mask-text-color: #666666;
	--mask-name-hover-color: #FB565A;
	--mask-name-active-color: #B3B3B3;
	--user-form-default-color: #D7DCDE;
	--user-form-hover-color: #B4B9BB;
	--user-form-default-text-color: #A2A2A2;
	--user-form-focus-text-color: #444444;
	--user-form-invalid-color: #E74246;
	--user-form-default-close-color: #FECDCE;
	--user-form-hover-close-color: #FB565A;
	--user-form-active-close-color: #FFEFEF;
	--border-pagination-color: #DBDBDB;
	--range-control-color:     #F1F1F1F1;
	--range-scale-color: #D7DcDE;
	--range-toggle-color: #ABABAB;
	--range-shadow-color: #CFCFCF;
	--default-transition-settings: 0.15s ease-in-out;
	--mask-transition-settings: 0.30s ease-in-out;
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
	font-weight: 500;
	font-style: medium;
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
	font-weight: 700;
	font-style: bold;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.page {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	color: var(--default-text-color);
	min-height: 100%;
	display: grid;
	grid-template-rows: 
		min-content 
		1fr 
		min-content;
  align-content: start;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--black-default-color);
}

.submit {
	border: none;
	background-color: transparent;
	font-family: inherit;
	padding: 0;
	outline: 0;
	cursor: pointer;
	transition: var(--default-transition-settings);
}

.main_header {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--black-default-color);
	background-color: var(--gray-default-color);
}

.main_nav {
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	width: 1160px;
	margin: 0 auto;
	padding-top: 40px;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px 0 20px;
}

.main_nav_bar {
	background-color: var(--gray-default-color);
	margin-top: 8px;
	margin-bottom: -7px;
}

.nav_list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 437px;
	justify-content: space-between;
	margin-left: 200px;
	margin-top: 20px;
}

.header_logo {
	transition: var(--default-transition-settings);
}

.header_logo:hover {
	opacity: 0.7;
}

.catalog_header_logo {
	margin-top: 10px;
}

.catalog_header_logo:active {
	opacity: 0.3;
}

.nav_list_item {
	transition: var(--default-transition-settings);
}

.nav_list_item:hover {
	color: var(--red-default-color);
}

.nav_list_item:active {
	color: var(--gray-text-active-color);
}

.nav_item_active {
	padding-bottom: 8px;
	border-bottom: 2px solid var(--red-default-color);
}

.nav_bin {
	display: flex;
	align-items: center;
	transition: var(--default-transition-settings);
	margin-top: 20px;
}

.nav_bin::before {
	content: "";
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	background-image: url("../img/icons/cart-icon.svg");
	margin-right: 24px;
}

.nav_bin:hover {
	color: var(--red-default-color);
}

.nav_bin:active {
	color: var(--gray-text-active-color);
}

.advantages {
	background-color: var(--gray-default-color);
}

.slides {
	position: relative;
}

.slide-1 {
	height: 431px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("../img/nerds-index-slide1.png");
	background-position: 400px;
}

.slide-2 {
	height: 431px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("../img/nerds-index-slide2.png");
	background-position: 400px;
}

.slide-3 {
	height: 431px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("../img/nerds-index-slide3.png");
	background-position: 400px;
}

.slide_description {
	width: 400px;
	height: 49px;
}

.slide_title {
	display: block;
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
	color: var(--black-default-color);
	max-width: 538px;
	padding-top: 78px;
	margin-bottom: 26px;
}

.slide_description {
	margin-bottom: 38px;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1.12;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	color: var(--white-default-color);
	background: #FB565A;
	border-radius: 3px;
	transition: var(--default-transition-settings);
	min-width: 240px;
	min-height: 50px;
}

.slide_button {
	margin-bottom: 10px;
}

.button:hover {
	background-color: var(--red-hover-color);
}

.button:active {
	background-color: var(--red-active-color);
	box-shadow: inset 0px 3px 0px var(--red-shadow-active-color);
	color: var(--red-button-text-active);
}

.slider {
	position: absolute;
	width: 50px;
	top: 300px;
	left: 50%;
}

.slider_list {
	display: flex;
	justify-content: space-between;
}

.studio_info-2::before {
	content: "";
	display: block;
	width: 360px;
	height: 208px;
	background: url("../img/nerds-illustration1.jpg") no-repeat;
	margin-bottom: 37px;
}

.services_section {
	margin-top: 80px;
	border-bottom: 2px solid var(--gray-default-color);
}

.services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 80px;
}

.service {
	display: flex;
	flex-direction: column;
}

.service-2 {
	padding-left: 14px;
}

.service-3 {
	padding-left: 27px;
}

.service_title {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.25;
	color: var(--black-default-color);
	text-transform: uppercase;
	margin-bottom: 0;
}

.service-1::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	background-color: var(--red-default-color);
	background: url("../img/illustration1.png") no-repeat;
}

.service-2::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	background-color: var(--green-default-color);
	background: url("../img/illustration2.png") no-repeat;
}

.service-3::before {
	content: "";
	display: block;
	width: 300px;
	height: 146px;
	background-color: var(--yellow-default-color);
	background: url("../img/illustration3.png") no-repeat;
}

.service_text {
	margin-bottom: 33px;
}

.service_button {
	min-width: 160px;
	max-width: 240px;
	margin-top: auto;
	align-self: flex-start;
}

.service-1 .button:active {
	color: var(--red-button-text-active);
	box-shadow: inset 0px 3px 0px var(--red-shadow-active-color);
}

.service-2 .button {
	background-color: var(--green-default-color);
}

.service-2 .button:hover {
	background-color: var(--green-hover-color);
}

.service-2 .button:active {
	color: var(--green-button-text-active);
	background-color: var(--green-active-color);
	box-shadow: inset 0px 3px 0px var(--green-shadow-active-color);
}

.service-3 .button {
	background-color: var(--yellow-default-color);
}

.service-3 .button:hover {
	background-color: var(--yellow-hover-color);
}

.service-3 .button:active {
	color: var(--yellow-button-text-active);
	background-color: var(--yellow-active-color);
	box-shadow: inset 0px 3px 0px var(--yellow-shadow-active-color);
}

.studio_info {
	display: flex;
	justify-content: space-between;
	margin-top: 39px;
}

.studio_info-1 {
	min-width: 651px;
	margin-top: 34px;
}

.studio_info_title {
	font-weight: 500;
	width: 651px;
	font-size: 45px;
	line-height: 1;
	color: var(--black-default-color);
}

.studio_info_text {
	margin-top: 34px;
	margin-bottom: 40px;
}

.studio_info_list_title {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 10px;
}

.studio_info_list {
	margin-top: 23px;
}

.studio_info_table {
	margin-top: 28px;

}

.studio_info_table td {
	padding-left: 10px;
}

.studio_info_table_title {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--black-default-color);
}

.studio_info_item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.studio_info_item::before {
	content: "";
	width: 25px;
	height: 2px;
	margin-right: 7px;
	background-color: var(--red-default-color);

}

.studio_info_item:not(:last-child) {
	margin-bottom: 25px;
}

strong {
	font-weight: bold;
	font-size: 45px;
	line-height: 1.42;
	color: var(--black-default-color);
}

sup {
	font-weight: bold;
	font-size: 26px;
	line-height: 1.42;
	color: var(--black-default-color);
}

td {
	line-height: 1.12;
}

.logos_section {
	margin-top: 73px;
	margin-bottom: 80px;
}

.logos {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--gray-default-color);
	border-top: 2px solid var(--gray-default-color);
	padding-top: 45px;
  padding-bottom: 36px;
}

.logos_item {
	opacity: 0.24;
	transition: var(--default-transition-settings);
}

.logos_item:first-child {
	margin-left: 31px;

}

.logos_item:last-child {
	margin-right: 42px;
}

.logos_item:nth-last-of-type(2) {
	margin-right: 20px;

}

.logos::after {
	position: absolute;
	display: block;
	content: "";
	width: 2px;
	height: 52px;
	background-color: var(--gray-default-color);
	left: 279px;
  top: 64px;
  box-shadow: 300px 0 0 var(--gray-default-color), 600px 0 0 var(--gray-default-color);
}

.logos_item:hover {
	opacity: 1;
}

.logos_item:active {
	opacity: 0.1;
}

.contact_map {
	position: relative;
	margin: 0 auto;
	height: 416px;
}

.map_img {
	width: 100%;
}

.iframe_map {
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 5;
}

.iframe_map iframe {
	width: 100%;
	border: none;
}


.contact_map_container {
	position: relative;
}

.contact_map_marker {
	position: absolute;
	left: 1094px;
  top: 86px;
}

.contact_address {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 55px;
  left: 372px;
	width: 319px;
	height: 308px;
	background-color: var(--white-default-color);
	z-index: 6;
}

.contact_address_title {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	line-height: 1.67;
	text-transform: uppercase;
	color: var(--black-default-color);
	padding-bottom: 23px;
  margin-left: -27px;
}

.address {
	line-height: 1.12;
	color: #666666;
	width: 230px;
	padding-bottom: 20px;
}

.contact_tel {
	color: #666666;
	align-self: flex-start;
	padding-left: 45px;
}

.user_button {
	margin-top: 32px;
	align-self: center;
	min-width: 219px;
}

button:hover {
	background-color: var(--red-hover-color);
}

button:active {
	color: var(--red-button-text-active);
	background-color: var(--red-active-color);
}

.main_footer {
  margin-top: 68px;
}

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 68px;
}

.social_list {
	display: flex;
	width: 261px;
}

.social_item {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--social-icon-default);
	width: 78px;
	height: 78px;
	border-radius: 50%;
	transition: var(--default-transition-settings);
	margin-left: 9px;
}

.social_item svg {
	fill: var(--white-default-color);
}

.social_item:active svg {
	fill: var(--red-button-text-active);
}

.social_item:hover {
	background-color: var(--red-hover-color);
}

.social_item:active {
	background-color: var(--red-active-color);
	box-shadow: inset 0px 3px 0px var(--red-shadow-active-color);
}

.discount {
	margin-left: -180px;
}

.discount_title {
	font-weight: bold;
	font-size: 36px;
	line-height: 1;
	color: var(--black-default-color);
}

.discount_text {
	line-height: 1.37;
	color: #444444;
}

/*CATALOG_SART*/

.catalog_title {
	font-weight: 500;
	font-size: 55px;
	line-height: 1;
	color: var(--black-default-color);
	background-color: var(--gray-default-color);
  margin: 0;
}

.catalog_heading {
  display: flex;
  justify-content: center;
  padding-bottom: 108px;
  padding-top: 70px;
}

.catalog_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  margin-top: 55px;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 760px;
}

.filters {
  width: 260px;
}

.filters_form {
  display: flex;
  flex-direction: column;
}

.numbers {
  margin-top: 43px;
  margin-bottom: 52px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.legend {
	margin-bottom: 13px;
}

.feature_form {
	padding-top: 43px;
}

.grid_item:not(:last-child) {
	margin-bottom: 5px;
}

.feature_item:not(:last-child) {
	margin-bottom: 17px;
}

.form_title {
	font-size: 18px;
	font-weight: bold;
	line-height: 1.67;
	text-transform: uppercase;
	color: var(--black-default-color);
}

.range_filter {
  width: 260px;
  margin-top: 49px;
}

.range_controls {
	position: relative;
  height: 80px;
	padding-top: 39px;
  background-color: var(--range-control-color);
  border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

.range_controls .bar {
  width: 70%;
  height: 2px;
  background: var(--green-default-color);
}

.range_controls .scale {
  height: 2px;
  background: var(--range-scale-color);
}

.range_controls .toggle {
	position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white-default-color);
  background-color: var(--range-toggle-color);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--range-shadow-color);
	cursor: pointer;
}

.range_controls .toggle_min {
  left: 18px;
}

.range_controls .toggle_max {
  left: 160px;
}

.number_text span {
	line-height: 1.37;
	text-transform: uppercase;
}

.number_text {
	margin-right: 11px;
}

.number_text:last-of-type {
	margin-left: 20px;
}

.number_place {
	background-color: var(--gray-default-color);
	text-align: center;
	line-height: 1.37;
	width: 80px;
	height: 38px;
	color: var(--default-text-color);
	border: none;
	border-radius: 3px;
	-moz-appearance: textfield;
	outline: none;
	border: none;
}

.number_place::-webkit-outer-spin-button, .number_place::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
	outline: none;
	border: none;
}

.sort_item {
	line-height: 1.19;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.custom_radio+.form_label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.custom_radio+.form_label::before {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 3px solid var(--catalog-input-default-color);
	border-radius: 50%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.custom_radio:not(:disabled)+.form_label:hover::before {
	border-color: var(--catalog-form-hover-color);
	
}

.custom_radio:checked+.form_label::after {
	position: absolute;
	content: "";
	display: block;
	left: 8px;
	width: 9px;
	height: 9px;
	background-color: var(--catalog-input-default-color);
	border-radius: 50%;
}

.custom_radio:checked+.form_label:hover::after {
	background-color: var(--catalog-form-hover-color);
}

.custom_radio:disabled+.form_label::before {
	border-color: var(--catalog-input-blocked-color);
}

.form_label {
	position: relative;
	display: flex;
	cursor: pointer;
	-webkit-box-align: center;
	align-items: center;
	transition: var(--default-transition-settings);
}

.form_label::before {
	transition: var(--default-transition-settings);
}

.form_label::after {
	transition: var(--default-transition-settings);
}

.custom_radio:disabled+.form_label {
	color: var(--catalog-input-blocked-color);
}

.custom_checkbox:disabled+.form_label {
	color: var(--catalog-input-blocked-color);
}

.custom_checkbox:disabled+.form_label::before {
	border-color: var(--catalog-input-blocked-color);
}

.custom_checkbox:disabled+.form_label::after {
	background-image: url(../img/icons/checkbox-on3.svg);
}

.custom_checkbox+.form_label::before {
	content: "";
	display: block;
	height: 23px;
	width: 23px;
	border: 2px solid var(--catalog-input-default-color);
	border-radius: 3px;
	margin-right: 11px;
}

.custom_checkbox:not(:disabled):not(:checked)+.form_label:hover::before {
	border-color: var(--catalog-form-hover-color);
}

.custom_checkbox:checked+.form_label::before {
	opacity: 0;
}

.custom_checkbox:checked+.form_label::after {
	position: absolute;
	content: "";
	display: block;
	width: 23px;
	height: 23px;
	background-image: url(../img/icons/checkbox-on2.svg);
	background-repeat: no-repeat;
}

.custom_checkbox:checked+.form_label:hover::after {
	background-image: url(../img/icons/checkbox-on1.svg);
}

.catalog_button {
	margin-top: 48px;
	min-width: 260px;
	color: var(--black-default-color);
	background-color: var(--gray-default-color);
}

.catalog_button:hover {
	background-color: var(--gray-hover-color);
}

.catalog_button:active {
	color: var(--gray-text-active-color);
	background-color: var(--gray-active-color);
	box-shadow: inset 0px 3px 0px var(--gray-shadow-active-color);
}

.sort_button {
	font-size: 14px;
	line-height: 1.29;
	text-transform: uppercase;
	color: var(--gray-text-default-color);
}

.sort_button:hover {
	background-color: transparent;
	color: var(--gray-text-hover-color);
}

.sort_button:active {
	color: var(--black-default-color);
	background-color: transparent;
}

.catalog_sort {
  display: flex;
}

.sort_buttons {
  margin-left: 255px;
}

.sort_button:not(:last-child) {
  margin-right: 25px;
}

.arrows {
	position: relative;
	cursor: pointer;
}

.arrow_box_down::after {
	border: solid transparent;
	content: "";
	height: 25px;
	width: 25px;
	position: absolute;
	left: 26px;
  top: 3px;
	border-top-color: var(--sort-arrow-default-color);
	border-width: 13px;
}
 
.arrow_box_down:hover::after {
	border-top-color: var(--sort-arrow-hover-color);
}

.arrow_box_down:active::after {
	border-top-color: var(--sort-arrow-active-color);
}

.arrow_box_top::after {
	border: solid transparent;
	content: "";
	height: 25px;
	width: 25px;
	position: absolute;
	left: 64px;
  top: -8px;
	border-bottom-color: var(--sort-arrow-default-color);
	border-width: 13px;
}

.arrow_box_top:hover::after {
	border-bottom-color: var(--sort-arrow-hover-color);
}

.arrow_box_top:active::after {
	border-bottom-color: var(--sort-arrow-active-color);
}

.catalog_list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -42px;
  margin-top: 48px;
}

.catalog_item {
	position: relative;
  width: 358px;
	height: 578px;
  margin-bottom: 25px;
	margin-right: 42px;
	overflow: hidden;
	cursor: pointer;
	transition: var(--default-transition-settings);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.catalog_item:hover {
	box-shadow: 0px 6px 15px var(--gray-hover-color);
}

.catalog_img {
  overflow: hidden;
}

.mask {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 99%;
	align-items: center;
	justify-content: space-around;
	background-color: var(--gray-default-color);
	width: 358px;
	height: 234px;
	transition: var(--mask-transition-settings);
	opacity: 0;
	overflow: auto;
}

.catalog_img:hover+.mask {
	top: 61.5%;
	opacity: 1;
}

.mask:hover {
	top: 61.5%;
	opacity: 1;
}

.catalog_item::before {
	content: "";
	display: block;
	width: 360px;
	height: 40px;
	background-color: var(--mask-top-default-color);
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	transition: var(--mask-transition-settings);
}

.catalog_item:hover:before {
	background-color: var(--mask-top-hover-color);
}

.catalog_item::after {
	content: "";
	display: block;
	position: absolute;
	top: 13px;
	left: 16px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: var(--white-default-color);
	box-shadow: 22px 0 var(--white-default-color), 47px 0 var(--white-default-color);
}

.mask_button {
	margin-bottom: 40px;
}

.mask_title {
	font-weight: bold;
	font-size: 18px;
	line-height: 1.67;
	text-transform: uppercase;
	color: var(--black-default-color);
	transition: var(--default-transition-settings);
}

.mask_title:hover {
	color: var(--red-default-color);
}

.mask_title:active {
	color: var(--gray-text-default-color);
}

.mask_text {
	line-height: 1.12;
	color: var(--mask-text-color);
	text-align: center;
	width: 255px;
}

.pagination_list {
  display: flex;
	margin-top: -24px;
}

.pagination {
	min-width: 50px;
	min-height: 50px;
  margin-right: 11px;
}

.page_active {
	background-color: var(--white-default-color);
	border: 3px solid var(--border-pagination-color);
}

.page_active:hover {
	background-color: transparent;
}

.page_active:active {
	background-color: transparent;
	color: var(--black-default-color);
	box-shadow: none;
}



/*CATALOG_END*/